/* Global styling */
:root{
    --theme-main-prime:#336699;         /* Dark Blue (BRANDING COLOR) */
    --theme-main-light:#AAD3ED;         /* Light Blue */
    --theme-secondary:#E37B1B;          /* Gold (BRANDING COLOR) */
    --theme-secondary-dark: #AE6019;    /* Dark Gold / brown */
    --theme-secondary-light: #FFE66B;   /*Light Gold*/
    --theme-main-thread:#F1F7FF;
}

body{
    color:var(--theme-secondary-light);
    background-color: var(--theme-main-prime);
}
*{
    font-family: 'Roboto', sans-serif;
}

/* Header */
.title {
    margin:10px 0;
}

.contact-title {
    text-align: right;
    margin-top: 30px;
}

.phone {
    display: inline;
    padding-right: 20px;
    transform: translateY(15%);
    letter-spacing: 1px;
}

.btn-gold {
    background-color: var(--theme-secondary);
    color:white;
}


.btn-gold:hover {
    background-color: var(--theme-secondary-dark);
}

.title> h4{
    border-bottom:2px solid var(--theme-secondary);
    width: 230px;
    font-weight:bold;
}





.nav-container .col-12{
    padding:0;
}

.nav-container .btn:hover{
    color:white;
}
.nav-item{
    margin:0 20px;
}
/* Navigation bar */
nav#main-nav{
    background-color:var(--theme-main-light);
    margin:5px 0px;
    padding:5px;
    overflow:hidden;
    height:50px;
    flex-wrap:nowrap;
}
nav#main-nav  button{
    color:var(--theme-secondary);
    font-size:20px;
    font-weight:bold;
}


nav ul{
    height:100%;
}
a.dropdown-item:hover{
    background-color:var(--theme-main-light);

}

/* BreadCrumb */
.breadcrumb{
    background-color:transparent;
    text-decoration:none;
    color:var(--theme-secondary-light)
}
.breadcrumb a{
    text-decoration:none;
    color:var(--theme-secondary-light)

}


.breadcrumb-item+.breadcrumb-item::before {
    color:var(--theme-main-light);
    content: ">";
}


/*main display*/
.main{
    min-width:960px;
    max-width:1200px;
}


/* tabs */
.nav-item{
    margin:0px;
    margin-right:20px;
}
.nav-item button{
    background-color:var(--theme-main-light);
    color:var(--theme-secondary-dark);
    font-weight:bold;
    min-width:140px;

}

.nav-tabs button.active{
    background-color:var(--theme-main-thread) !important;
    color:var(--theme-secondary-dark) !important;
}

.main .tab-content{
    background-color:var(--theme-main-thread);
    min-height:1500px;
    border-radius:5px;
    transform: translateY(-5px);
    padding:10px;
    

}